body {
    background-color: #2A2A2A;
}

.container-pdp-card .box #img1 img {
    border-radius: 10px;
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.container-pdp-card .box {
    cursor: pointer;
}

.container-pdp-card .box .game   {
    text-decoration: none;
}

.container-pdp-card .box .game #l2 {
    color: #F5F5F5;
    font-size: 14px;
    font-family: sans-serif
}

.container-pdp-card .box .game #l3 {
    color: #F5F5F5;
    font-size: 14px;
    font-family: sans-serif

}

.container-pdp-card .box .game #l1 {
    color: #F5F5F599;
    font-size: 9px;
    font-family: sans-serif;
}