body {
  background-color: #121212;
}

.container .box .tgr .logo img {
  height: 50px;
  width: 50px;
  margin-top: 0%;
  margin-left: 7%;
  margin-bottom: 20px;
}

.container .box .tgr .text1 {
  color: #f4f4f4;
  font-size: 12px;
  font-family: Brutal, sans-serif;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin-right: 44px;
  margin-bottom: 6px;
}

.container .box .tgr .cadastro #nome input {
  height: 50px;
  width: 350px;
  background-color: rgba(42, 38, 44, 0.322);
  border-radius: 10px;
  color: #fff;
  border: none;
  padding-left: 15px;
}

.container .box .tgr .cadastro #nome ::placeholder {
  color: aliceblue;
}

.container .box .tgr .cadastro #sobrenome input {
  height: 50px;
  width: 350px;
  background-color: rgba(42, 38, 44, 0.322);
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 12px;
}
.container .box .tgr .cadastro #sobrenome ::placeholder {
  color: aliceblue;
}
.container .box .tgr .cadastro #nome-de-exibicao input {
  height: 50px;
  width: 350px;
  background-color: rgba(42, 38, 44, 0.322);
  border-radius: 10px;
  border: none;
  color: #fff;
  padding-left: 15px;
}

.container .box .tgr .cadastro #nome-de-exibicao ::placeholder {
  color: aliceblue;
}

.container .box .tgr .cadastro #data input {
  height: 50px;
  width: 350px;
  background-color: rgba(42, 38, 44, 0.322);
  border-radius: 10px;
  border: none;
  color: #fff;
  padding-left: 15px;
  margin-top: 12px;
}

.container .box .tgr .cadastro #data ::placeholder {
  color: #fff;
}

.container .box .tgr .cadastro #telefone input {
  height: 50px;
  width: 350px;
  background-color: rgba(42, 38, 44, 0.322);
  border-radius: 10px;
  border: none;
  color: #fff;
  padding-left: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.container .box .tgr .cadastro #telefone ::placeholder {
  color: aliceblue;
}

.container .box .tgr .cadastro #email {
  margin-bottom: 12px;
}

.container .box .tgr .cadastro #email input {
  height: 50px;
  width: 350px;
  background-color: rgba(42, 38, 44, 0.322);
  border-radius: 10px;
  border: none;
  color: #fff;
  padding-left: 15px;
}

.container .box .tgr .cadastro #password input {
  border-radius: 10px;
  background-color: rgba(42, 38, 44, 0.322);
  height: 50px;
  width: 350px;
  border: none;
  color: #fff;
  padding-left: 15px;
}
.container .box .tgr .cadastro #confirmar input {
  border-radius: 10px;
  background-color: rgba(42, 38, 44, 0.322);
  height: 50px;
  width: 350px;
  border: none;
  color: #fff;
  padding-left: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.container .box .tgr .cadastro #confirmar ::placeholder {
  color: aliceblue;
}

.container .box .tgr .cadastro #email ::placeholder {
  color: white;
}

.container .box .tgr .cadastro #password ::placeholder {
  color: white;
}

.container .box .tgr .li-e-concordo #li p {
  margin-right: 10px;
  color: aliceblue;
}

.container .box .tgr .li-e-concordo {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.container .box .tgr .li-e-concordo #certify {
  margin-right: 10px;
}

.container .box .tgr .li-e-concordo #certify input {
  border: none;
  border-radius: 10px;
}

.container .box .tgr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
}

.container .box .tgr .noticia #noticias p {
  margin-right: 10px;
  color: aliceblue;
}

.container .box .tgr .noticia {
  display: flex;
  align-items: center;
}

.container .box .tgr .noticia #certify-2 {
  margin-right: 10px;
}

.container .box .tgr .noticia #certify-2 input {
  border: none;
  border-radius: 10px;
}

.container .box .allbonus #enter a {
  border: none;
  border-radius: 2px;
  width: 350px;
  height: 50px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.container .box .allbonus #bonus a {
  display: flex;
}

.container .box .allbonus #bonus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  color: grey;
}

.container .box .allbonus a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 13px;
}

.container .box .allbonus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
