body {
    background-color: black;
}

.container {
    margin-left: 190px;
}

.container .box h1 {
    color: #F5F5F5;
}

.container .box .p #img1 {
    width: 20px;
    height: 20px;
}

.p1 {
    display: flex;
    align-items: center;
}

.p1 #img1 {
    margin-right: 15px;
}

.p p {
    color: #F5F5F5;
}

.container .box .p #img2 {
    width: 20px;
    height: 20px;
}

.p2 {
    display: flex;
    align-items: center;
}

.p2 #img2 {
    margin-right: 15px;
}

.p {
    display: flex;
}

.p1 p {
    margin-right: 28px;
}

.anuncio #img3 {
    width: 580px;
    height: 326;
    border-radius: 5px ;
    margin-top: 40px;
    margin-bottom: 40px;
}

.anuncio p {
    color: #F5F5F5;
}

.anuncio {
    width: 600px;
}

.sobre p {
    color: #F5F5F5;
}

.sobre {
    display: flex;
    margin-bottom: 60px;
    margin-top: 60px;
}

.sobre .generos {
    margin-right: 220px;
}

.sobre .caract #c2 {
    width: 200px;
}

.sobre .generos #t1 {
    color: #F5F5F599;
}

.sobre .caract #t2 {
    color: #F5F5F599;
}

.texto #e {
    color: #F5F5F5;
}

.texto p {
    color: #F5F5F599;
    width: 600px;
}

.espec .windows #v {
    color: #F5F5F599;
}

.espec .windows p {
    color: #F5F5F5;
}

.windows h2 {
    color: #F5F5F5;
}

.windows {
    display: flex;
}

.windows #minimo {
    margin-right: 100px;
}

.espec p {
    color: #F5F5F5;
}