.container {
  margin: 0 auto;
  width: 70%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.button {
  /* width: 150px; */
  padding: 15px;
  border: 1px solid #999;
}

.registerOut {
  display: flex;
  flex-direction: column;
}
.navigate {
  margin-bottom: 10px;
  cursor: pointer;
}
.out {
  margin-top: 10px;
  cursor: pointer;
}