body {
  background-color: black;
}

.container-formulario {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
}

.container-title {
  text-align: center;
  margin-bottom: 100px;
}

.container .box #nome {
  height: 50px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.container .box #img1 {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.container .box #sobre1 {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.container .box #img2 {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.container .box #sobre2 {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.container .box #img2 {
  height: 326px;
  width: 580px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.container .box #introducao {
  height: 50px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.container .box #genero {
  height: 50px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.container .box #carac {
  height: 50px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.container .box #nom {
  height: 50px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.a {
  display: flex;
}

#b {
  height: 50px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

#c {
  height: 400px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}
#f {
  margin-bottom: 20px;
}

#d {
  height: 50px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  border: none;
  color: #000;
  padding-left: 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.p1 {
  display: flex;
  align-items: center;
}

.p1 #img1 {
  margin-right: 15px;
}

.p p {
  color: #f5f5f5;
}

.container .box .p #img2 {
  width: 20px;
  height: 20px;
}

.p2 {
  display: flex;
  align-items: center;
}

.p2 #img2 {
  margin-right: 15px;
}

.p {
  display: flex;
}

.p1 p {
  margin-right: 28px;
}

.anuncio #img3 {
  width: 580px;
  height: 326;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.anuncio p {
  color: #f5f5f5;
}

.anuncio {
  width: 600px;
}

.sobre p {
  color: #f5f5f5;
}

.sobre {
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
}

.sobre .generos {
  margin-right: 220px;
}

.sobre .caract #c2 {
  width: 200px;
}

.sobre .generos #t1 {
  color: #f5f5f599;
}

.sobre .caract #t2 {
  color: #f5f5f599;
}

.texto #e {
  color: #f5f5f5;
}

.texto p {
  color: #f5f5f599;
  width: 600px;
}

.espec .windows #v {
  color: #f5f5f599;
}

.espec .windows p {
  color: #f5f5f5;
}

.windows h2 {
  color: #f5f5f5;
}

.windows {
  display: flex ;
}

.windows #minimo {
  margin-right: 100px;
}

.espec p {
  color: #f5f5f5;
}

.button-wrapper {
  margin: 50px 0 100px;
}

.button {
  border: 1px solid #000;
  padding: 20px;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .group-one {
    display: flex;
  }

  .container-formulario .group-one .recomendado-one {
    margin-bottom: 50px !important;
  }

  .container-formulario .windows {
  }
}
